*{
    margin: 0;
    padding: 0;
    /* Se cambia el modelo de la página */
    box-sizing: border-box; 
}
html{
    background-image: url(/erick1503.github.io/SEMANA6/CCSKJZY5IJFALII5VVD2BNGFZA.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Se adapta a cualquier tamaño de pantalla */
    font-size:  1.5em;
    /* Ocupe toda la pantalla */
    min-height: 100%;
}

body > *{
    box-shadow:-1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

body{
     proporciona una cuadrícula de una sola columna 
    display: grid;
    gap:10px;/*Separación de los elementos */
}

body{
    /* Definir las áreas para un mismo diseño */
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "aside"
c        "footer";
}