

.L3d{
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 rgb(128, 25, 25), 0 3px 0 rgb(57, 216, 18), 0 4px 0 rgb(91, 20, 223), 0 5px 0 #dba718, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    text-align: center;
    background-color: red;
    margin: 0px 0px 0px 0px;
}
.menu{
    background-color:red;
    text-align: center;
}

.menu li{
    display: inline-block;
}

.menu a{
    color: antiquewhite;
    text-decoration: none;
    padding: 30px;
    display: block;
}

.menu a:hover{
    background-color: rgb(72, 75, 83);
    font-size: large;
}


.faraon{
    width: 1000px 0px 0px 0px;
    margin:  -10px 0px 0px  -38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style: none;
}

.faraon > li{
    float: left;
}

.faraon li a{
    background-color:red;
    color: white;
    text-decoration: none;
    padding: 25px 10px;
    display: block;
}

.faraon li a:hover{
    background-color: rgb(72, 75, 83);
}


.faraon li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.faraon li:hover > ul{
    display: block;
}





.inicio{
    background-color: red;
    text-align: center;
    overflow:hidden;
    padding: 40px;
    color:#ddd
}
.imagen img{
    width: 500px;
    height: auto;
    display: block; 
    margin: auto; /*Centrado*/
    /* border-radius: 25px; Redonceado las esquinas */
    /* somb-x | somb-y | desenf-radio | color */
    box-shadow: 5px 5px 0 rgb(0, 0, 0);
    border: 3px solid #000;
    margin-top: 10px;
}
.letra{
    font-family: Arial Black; 
    font-weight: bold;
    font-size: 30px; 
    color: #fff;
    /* somb-x | somb-y | desenf-radio | color */
    text-shadow: -3px 0 rgb(15, 10, 10), 0 3px rgb(30, 18, 18), 3px 0 rgb(255, 5, 5), 0 -3px rgb(255, 4, 4);
margin: 2%;
}

.parrafo {
font-size: medium; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 2%;
}
.diseño{
    font-family: Arial rgb(0, 0, 0); 
    font-weight: bold;
    font-size: 30px; 
    color: rgb(231, 231, 231);
    /* somb-x | somb-y | desenf-radio | color */
    text-shadow: -3px 0 rgb(15, 10, 10), 0 3px rgb(30, 18, 18), 3px 0 rgb(255, 5, 5), 0 -3px rgb(255, 4, 4);
margin: 2%;
}
table{
    width: 80%;
    /* Unir las líneas */
    border-collapse: collapse;
    /* Para separar las lineas */
    border-spacing: 5px;
    margin: auto; /*Centrado*/
}

tr,td{
    width: 20%;
    border: 3px solid red;
    text-align: center;
}

caption{
    background:#cd0a07;
    font-size: 24px;
    color: white;
    border: 2px solid red;
}







.encabezado{
  
    font-style: italic;
}
.neon{
    font-family: Arial; 
    font-size: 30px; 
    COLOR: #f8f8f8; 
    text-shadow: 0px 0px 9px #ee2e0c;
    margin: 2%;
}
.nuevo{
font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 2%;
}
.lord{
    width: 800px;
    height: auto;
    display: block; 
    margin: auto; /*Centrado*/
    /* border-radius: 25px; Redonceado las esquinas */
    /* somb-x | somb-y | desenf-radio | color */
    box-shadow: 5px 5px 0 rgb(0, 0, 0);
    border: 3px solid #000;
    margin-top: 10px;
}