*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{ 
    background-image: url(https://www.futbolred.com/files/image_800_600/uploads/2020/05/27/5ecec13d4499b.gif);
background-repeat: no-repeat;
background-position: center center;
height: 1800px;
background-attachment: fixed;
background-size: cover;
}
body{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5em ;
    min-height: 100%;

}

body{ 
display:grid;
gap :10px;

}
body{
    /* definir las areas para un mismo diseño */
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "aside" 
    "footer";
}

.header{ 
    grid-area: header;
    background-color: chocolate;
}
.nav{
    grid-area: nav;
    background-color: bisque;
}
.article{ 
    grid-area: article;
    background-color: rgb(203, 165, 13);
}
.aside{
    grid-area: aside;
    background-color: cornsilk;

 }
.footer{
     grid-area: footer;
  background-color: darkmagenta;
    }
    @media (min-width:600px){
        body{
            grid-template-columns: 200px auto;
            grid-template-rows: 100px 50px auto 100px;
            grid-template-areas: 
            "header header"
            "nav nav"
            "aside article"
            "footer footer"
            ;
        }
    }
.    